.keyboard {
    --button-width: 5vmin;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 50vmin;
}

.button {
    cursor: pointer;
    margin: 0.5vmin;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: var(--button-width);
    width: var(--button-width);
    text-align: center;
    padding: 0 1vmin;
}