.main-container {
    padding: 5vmin;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: grid;
    grid-template-areas:
            "letter word"
            "keyboard word";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    margin: 0;
}

@media (orientation: portrait) {
    .main-container {
        grid-template-areas:
                "letter"
                "word"
                "keyboard";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
