.main-container {
    display: flex;
    justify-content: center;
    padding: 5vmin;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin-right: 2%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}