.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 5vmin;
    width: 50vmin;
    height: 50vmin;
    max-height: 50vmin;
    max-width: 50vmin;
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.4);

    grid-area: word;
}

.container-empty {
    width: 50vmin;
    height: 50vmin;
    max-height: 50vmin;
    max-width: 50vmin;
    padding: 5vmin;

    grid-area: word;
}

.imageContainer {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.word {
    white-space: nowrap;
    font-size: 6vw;
}

.word:first-letter {
    font-weight: bold;
    font-size: larger;
}


@keyframes backInDown {
    0% {
        transform: translateY(-1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.appear {
    animation-name: backInDown;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-duration: 1s;
}
