.nav {
    justify-content: space-around;
    align-items: stretch;
    display: flex;
}

.alphabet {
    width: 200px;
}

.paint {
    width: 200px;
}

.link {
    transition: all 0.3s;
    text-decoration: none;
    color: #495057;
}

.link:hover {
    transform: scale(1.05);
    /*box-shadow: 0px 0px 21px 16px rgba(255, 255, 255, 0.47);*/
}

.mainFrame {
    padding: 20px;
    flex-grow: 1;
}
