.container {
    width: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;

    border: 1px solid gray;

    position: absolute;
    top: 0;
    left: 0;

    background: white;
    cursor: grab;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.grabbing {
    cursor: grabbing;
    box-shadow: 8px 8px 8px 0 rgba(34, 60, 80, 0.2);
}

.picture {
    flex-grow: 1;
}

.letter {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}