@value blueBorderColor from '../../styles/colors.css' ;

.container {

}

.link {
    transition: all 0.3s;
    text-decoration: none;
    color: #495057;
    padding: 20px;
    border: 1px solid blueBorderColor;
    background: linear-gradient(#FFFFFF, #e9f4fe);
    border-radius: 10px;
    display: block;
}

.link:hover {
    transform: scale(1.05);
    /*box-shadow: 0px 0px 21px 16px rgba(255, 255, 255, 0.47);*/
}

