.link {
    width: 5vmin;
    height: 5vmin;
    background: url("./back.svg");
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s;
    display: block;
}

.link:hover {
    transform: scale(1.1);
}